
#eventView {
    background-color: white;
}

#eventTitle {
    font-size: 50px;
    padding-left: 15px;
}

#eventContent {
    margin-top: 20px;
}

#eventCol {
    margin: 0 0 20px 0;
    padding: 0;
}

.col-lg-12 img {
    width: 100%;
}

