:root{
    --color-white: #FAFAFA;
    --color-light-blue: #ABC3C9;
    --color-meduim-blue: #63ACBE;
    --color-dark-blue: #21393F;
    --color-light-beige: #E0DCD3;
    --color-medium-beige: #CCBE9F;
<<<<<<< HEAD
    --color-brown-black: #331A21;
=======
    --color-brown-black: #331920;
>>>>>>> c72ad1d881f89326a1d6ca782e45bf9392e4d7d4
    --color-icon: var(--color-light-beige);
    font-family: 'Source Sans Pro', sans-serif;
    border: transparent;
    background-color: var(--color-light-beige);
}

.container{
    margin: ;
}

.main-container{
    background-color: var(--color-light-beige);
}

.navbar {
    background-color: transparent;
}

.navbar > a {
    color: var(--color-brown-black)
}

.navbar {
    background-color: transparent;
    transition: background-color 0.5s ease 0s;
}

.navbar.solid {
    background-color: var(--color-light-beige);
}

.text-light{
    color: var(--color-white);
}

.text-dark{
    color: var(--color-brown-black);
}

.card{
    background-color: var(--color-light-blue);
    border-radius: 0;
    border-color: var(--color-dark-blue);
}
.card-header{
    background-color: var(--color-dark-blue);
    color: var(--color-light-beige);
    border-radius: 0;
}
.card-header:first-child {
    border-radius: 0;
}

a {
    color: var(--color-dark-blue);
}

a:hover{
    color: var(--color-meduim-blue);
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}
