.carousel-control-next, .carousel-control-prev {
    filter: invert(100%)
}

.image-header {
    top: 0;
    padding: 0;
    margin: 0 0 0 0;
}

.container {
    position: relative;
    top: 0;
}

<<<<<<< HEAD
}

#frontpage-card-container{
    border-color: transparent;
}
#frontpage-card-body{
    padding: 15px 15px 15px 15px;
    border-color: transparent;
}

#frontpageCard{
    background: var(--color-light-beige);
    border: 5px 5px 5px 5px var(--color-light-blue);
    margin: 10px 5px 10px 5px;
=======
#frontpageCard:hover {
    box-shadow: 1px 8px 15px grey;
    -webkit-transition:  box-shadow
}

#wrap {
    position: absolute;
    top: 0
>>>>>>> c72ad1d881f89326a1d6ca782e45bf9392e4d7d4
}
